{% extends 'public/base.html' %}

{% block head %}
<script type="text/javascript">
$(function () {

    total();
	var add = $('.add');
	var minus = $('.minus');
	minus.click(function () {
		add_minus(-1,$(this))
	});
	add.click(function () {
		add_minus(1,$(this))
	});

		//全选　反选
	var check_all = $('#check_all');
	check_all.click(function () {
	    state = $(this).prop('checked')
		$(':checkbox:not(#check_all)').prop('checked',state);
		total();
    });

	$(':checkbox:not(#check_all)').click(function () {

		if($(':checked:not(#check_all)').length+1 == $(':checkbox').length ){
			check_all.prop('checked',true)
		}else{
		    check_all.prop('checked',false)
		}
		total();
    })
});
//加减运算
function add_minus(num,_this) {
	var num_show = _this.siblings('.num_show');
	var num = parseInt(num_show.val())+num;
	var col03 = parseInt(_this.parents('.col06').siblings('.col03').children('kucun').html());
	if(num>col03){//不能大于库存
		num = col03
	}else if(num<1){
		num = 1
	}
	num_show.val(num);
	sum(num_show)
}
//求和
function sum(num_show) {
	var count = num_show.val();
	var cart_id = num_show.parents('.cart_list_td').attr('id');
	$.get('/cart/edit'+cart_id+'_'+count+'/',function (data) {
		if(data.ok == 0){
			total()
		}else{
			num_show.val(count)
		}
	});

}

//统计所有商品总价　以及单个商品总价
function total(){
    var total_all = 0;
	var total_count1 = 0;
	var col07 = $('.col07');
    col07.each(function () {
		var count = $(this).prev().find('input').val();
		var price = $(this).prev().prev().text();
		var all_price = parseFloat(price)*parseInt(count);
		$(this).text(all_price.toFixed(2)+'元');
		var oInput = $(this).siblings('.col01').children('input').prop('checked');
		if(oInput){
	    	total_all+=all_price;
	    	total_count1++
    	}
	});


	$('#sum').text(total_all.toFixed(2));
	$('.total_count1').text(total_count1);
	$('.total_count').find('em').text(total_count1);
}
//删除
function cart_del(cart_id){
	del = confirm('确定要删除吗？')
	if(del){
	    $.get('/cart/delete'+cart_id+'/',function (data) {
			if(data.ok == 1){
			    $('ul').remove('#'+cart_id)
				total()
			}
        })
	}

}

</script>
{% endblock head %}

{% block main %}
<form action="/df_order/" method="post">
	{% csrf_token %}
	<div class="total_count">全部商品<em></em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	{% for cart in carts %}
		<ul class="cart_list_td clearfix" id="{{ cart.id }}">
			<li class="col01"><input type="checkbox" name="cart_id" value="{{cart.id}}" checked></li>
			<li class="col02"><img src="/static/{{ cart.goods.gpic }}"></li>
			<li class="col03">
				{{ cart.goods.gtitle }}<br>
				<span class="kucun" style="color:red;font-weight: bold;font-size:14px;">库存：{{cart.goods.gkucun}}</span>
				{#<em>{{ cart.goods.gprice }}元/{{ cart.goods.gunit }}</em>#}
			</li>
			<li class="col04">{{ cart.goods.gunit }}</li>
			<li class="col05">{{ cart.goods.gprice }}元</li>
			<li class="col06">
				<div class="num_add">
					<a href="javascript:;" class="add fl">+</a>
					<input type="text" class="num_show fl" value="{{cart.count}}">
					<a href="javascript:;" class="minus fl">-</a>
				</div>
			</li>
			<li class="col07"></li>
			<li class="col08"><a href="javascript:cart_del({{ cart.id }});">删除</a></li>
		</ul>
	{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="check_all"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="sum"></em><br>共计<b class="total_count1"></b>件商品</li>
		<li class="col04"><input type="submit" value="去结算" /></li>
	</ul>
</form>
{% endblock main %}