{% extends 'df_goods/base.html' %}

{% block content %}
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.gtitle }}</h3>
			<p>{{ goods.gjianjie }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.gprice }}</em></span>
				<span class="show_unit">单  位：{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ goods.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart" style="cursor: pointer;">加入购物车</a>
			</div>
		</div>
	</div>
{% endblock content %}

{% block detail %}
	<div class="r_wrap fr clearfix">
		<ul class="detail_tab clearfix">
			<li class="active">商品介绍</li>
			<li>评论</li>
		</ul>

		<div class="tab_content">
			<dl>
				<dt>商品详情：</dt>
				<dd>{{ goods.gcontent|safe }}</dd>
			</dl>
		</div>
	</div>
{% endblock detail %}



{% block detailfoot %}
	<div class="add_jump"></div>
	<script type="text/javascript">
		$('.add').click(function () {
			add_minus(1)
        });
		$('.minus').click(function () {
			add_minus(-1)
        });
		function add_minus(num1){
		    var num_show = $('.num_show');
		    var num = parseInt(num_show.val());
		    num = num+num1;
		    if (num<1) {
		        num = 1
			}
			num_show.val(num);
			sum(num_show);
		}
		function sum(num_show){
		    var num = parseInt(num_show.val());
		    var em = $('.total').find('em');
		    var one_price = parseFloat($('.show_pirze').find('em').html());
		    em.html(one_price*num+'元')

		}

		var add_cart = $('#add_cart');
		var $add_x = add_cart.offset().top;
		var $add_y = add_cart.offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
		add_cart.click(function(){
		    var num = parseInt($('.num_show').val());
			$.get('/cart/add{{goods.id}}_'+num+'/',function(data){
				$('#show_count').html(data.count);
			});
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7
			},
			"fast", function() {
				$(".add_jump").fadeOut('fast',function () {
					$(".add_jump").css({left:$add_y+80,top:$add_x+10,'display':'block'})
                });

			});


		})
	</script>
{% endblock detailfoot %}
